@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
  body{
    font-family: 'Kanit', sans-serif;
}

.box{
    background: cyan;
    border-radius:10px;
    box-shadow:4px 8px 0px #0003;
    padding:1em;
    min-height:100px;
    min-width:300px;
}
