@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');
  body,html{
  height: 100%;
  margin: 0;
  background-image: url("/reference/bg-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: 'Pridi', serif;
}

  .container{
    width:100%;
    max-width:1024;
    padding:0 1rem;
    margin:auto;
    box-sizing:border-box;
    background-color: salmon;
  }
  .fullscreen{
    width:100%;
    height:100vh;
  }

  .flex-center-parent{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    background:#fff;
    border-radius:10px;
    box-shadow:8px 8px 0px #0003;
    padding:1em;
    
  }
  .fullwidth{
    width:100%;
  }

  .padding{
    padding:1rem;
  }
  .header{
    background:hsl(var(--h),90%,60%);
    transition:all .3s;
    color:white;
    position:fixed;
    width:100%;
  }
  
  #header{
    padding:1rem 0;
  }
  .card-text{
      font-size: 1.1rem;
  }
  .group{
    position: absolute;
    bottom:5%;
    right:5%;
  }
  .btn{
    align-items: right;
  }
